.home {
    &-container {
        width: auto;
        height: auto;
        background-color: #323a45;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &-video {
        width: fit-content;
        height: fit-content;
        position: relative;
        object-fit: inherit;
    }
    &-form {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        justify-content: flex-start;
        padding-top: 2px;
        top: 0;
        padding-right: 200px;
    }
    &-input {
        margin-left: 10px;
        padding: 10px;
        width: 300px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
        border: none;
    }
    &-button {
        border: none;
        outline: none;
        background: #553fb5;
        padding: 10px;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: rgba($color: #fff, $alpha: 0.7);
        font-weight: 700;
        transition-duration: 0.3s;
        cursor: pointer;
        &:hover {
            color: #bdba26;
            background-color: #10072b;
            border: 1px solid #bdba26;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
    }
}

.jumbotron {
    background-image: url(../../../assets/mp4/Alzadaal.mp4);
    background-size: cover;
    min-height: 100%;
}

.myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    size: 70%;
}

.videoInsert {
    position: absolute;
    right: 0;
    left: -80px;
    bottom: 0;
    object-fit: fill;
    min-width: 100%;
    min-height: 100%;
    width: 105%;
    height: 120% !important;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}