<div class="row">
    <div class="col-md-12">
        <div class="presentationclass">
            <div class="text-center h4">Application de démonstration</div>
            <hr />
            <div class="h6" style="color: orange;">Présentation du développeur : </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="./assets/img/RKphoto.png" width="100%" />
                </div>
                <div class="col-md-8">

                    <p class="justify" style="color: rgb(3, 5, 34); font-weight: bold;">
                        <a href="https://github.com/Thomas-Deloffre/LinkedInRepo">
                            <img src="./assets/img/logo/logo-linkedin.png" width="10%" />
                        </a>
                        Thomas Deloffre
                    </p>
                    <li class="justify">Ingénieur en écologie marine</li>
                    <li class="justify">Soigneur - Plongeur scaphandrier</li>
                    <li class="justify">Concepteur et développeur java fullstack</li>


                </div>
            </div>
            <hr />
            <div class="h6" style="color: orange;">Présentation du projet :</div>
            <div class="row">
                <p class="justify">
                    Ce site web (frontend et backend) a été developpé dans le cadre d'un projet d'un mois et demi, après 10 mois de <a href="https://projet-isika.com/index.php/architecte-logiciel-cycle-long-isika/">formation
                        intensive</a> au sein du centre de formation ISIKA.
                </p>
                <p class="justify">
                    Le but était de concevoir, développer et déployer (en ayant une intégration continue locale, pré-production, production) l'architecture d'un projet au choix avec des obligations telles que :

                    <li class="justify">
                        Récupérer des données d'une API externe et permettre de les collecter une ou plusieurs fois par jours
                    </li>
                    <li class="justify">
                        Avoir une architecture sous forme de microservices
                    </li>
                    <li class="justify">
                        Avoir une gestion d'utilisateur avec mot de passe crypté en base de données
                    </li>
                    <li class="justify">
                        Utiliser une base de donnée relationnelle et non relationnelle
                    </li>
                    <li class="justify">
                        Une intégration continue
                    </li>
                    <li class="justify">
                        Une gestion des versions
                    </li>
                    <li class="justify">
                        ...
                    </li>
                </p>
                <p class="justify" style="font-weight: bold;">Vous êtes actuellement sur la version production de cette application.
                </p>
                <p>Si vous suivez ce <a href=>lien</a>, vous accéderez au code de l'application</p>
            </div>
            <hr />
            <div class="h6" style="color: orange;">Architecture du projet :</div>
            <div class="justify" style="font-weight: bold;">Back-end</div>
            <p>
                <li>
                    1 microservice Java 11 / spring
                </li>
                <li>
                    1 microservice NodeJS
                </li>
                <li>
                    1 API externe (<a href="https://openweathermap.org/">Open Weather Map</a>)
                </li>
            </p>
            <p>
                <div class="justify" style="font-weight: bold;">Front-end</div>
                <li>
                    Angular v11
                </li>
                <p class="justify">
                    Une image vaut mieux qu'un long discours :
                </p>
                <div class=" justify">
                    <img src="./assets/img/architecture.png" width="100%" />
                </div>
        </div>
    </div>
</div>